@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "../../foundation/_mixin.scss";
@import "../../foundation/_base.scss";

.c-button {
	&__primary {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		background-color: $accentColor;
		border: 1px solid $accentColor;
		color: #fff;
		width: 30rem;
		height: 4.5rem;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		line-height: 4.5rem;
		margin-bottom: 1rem;
		letter-spacing: 0.3rem;
		transition: all 0.3s;
		&::after {
			content: "";
			width: 0.8rem;
			height: 0.8rem;
			border: 0px;
			border-top: solid 1px #fff;
			border-right: solid 1px #fff;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
			right: 2rem;
			margin-top: -4px;
		}
		&:hover {
			background: #fff;
			color: $accentColor;
			&::after {
				border-top: solid 1px $accentColor;
				border-right: solid 1px $accentColor;
			}
		}
	}
	&__sns {
		text-align: center;
		&--tw {
			display: block;
			background-color: #1da1f2;
			color: #fff;
			height: 4.5rem;
			font-size: 1.2rem;
			font-weight: bold;
			line-height: 4.5rem;
			margin-bottom: 1rem;
		}
		&--ins {
			display: block;
			background: linear-gradient(45deg, #4c64d3, #cf2e92 70%);
			color: #fff;
			height: 4.5rem;
			font-size: 1.2rem;
			font-weight: bold;
			line-height: 4.5rem;
		}
	}

	&__wrap {
		width: 100%;
	}

	&__login {
		width: 15rem;
		background-color: $accentColor;
		color: #fff;
		height: 4.5rem;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 4.5rem;
		-webkit-appearance: none;
		border-radius: 0;
		&:hover {
			cursor: pointer;
		}
	}
	&__register {
		width: 100%;
		background-color: $accentColor;
		color: #fff;
		height: 4.5rem;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 4.5rem;
		// border-radius: 0.5rem;
		&:hover {
			cursor: pointer;
		}
	}

	&__follow {
		width: 12rem;
		background: #fff;
		color: $accentColor;
        border: 1px solid $accentColor;
        display: inline-block;
		position: relative;
		margin: 0 auto;
		border: 1px solid $accentColor;
		height: 4.5rem;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		line-height: 4.5rem;
		margin-bottom: 1rem;
		letter-spacing: 0.3rem;
		transition: all 0.3s;
	}

	&__sidebar {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		background-color: $accentColor;
		border: 1px solid $accentColor;
		color: #fff;
		width: 100%;
		height: 4.5rem;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		line-height: 4.5rem;
		margin-bottom: 1rem;
		letter-spacing: 0.3rem;
		transition: all 0.3s;
		&::after {
			content: "";
			width: 0.8rem;
			height: 0.8rem;
			border: 0px;
			border-top: solid 1px #fff;
			border-right: solid 1px #fff;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
			right: 2rem;
			margin-top: -4px;
		}
		&:hover {
			background: #fff;
			color: $accentColor;
			&::after {
				border-top: solid 1px $accentColor;
				border-right: solid 1px $accentColor;
			}
		}
	}
}
