// =========================================
// Foundation
// =========================================

.c-button {
    &__primary {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        background-color: $accentColor;
        border: 1px solid $accentColor;
        border-radius: 0.3rem;
        color: #fff;
        width: 30rem;
        height: 4.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        line-height: 4.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.3rem;
        transition: all 0.3s;

        &::after {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            border: 0px;
            border-top: solid 1px #fff;
            border-right: solid 1px #fff;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 2rem;
            margin-top: -4px;
        }
        &:hover {
            background: #fff;
            color: $accentColor;
            &::after {
                border-top: solid 1px $accentColor;
                border-right: solid 1px $accentColor;
            }
        }
    }
    &__sns {
        text-align: center;
        margin-bottom: 2rem;
        a{
            display: block;
            color: #fff;
            height: 4.5rem;
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 4.5rem;
            margin-bottom: 1rem;
            border-radius: 0.3rem;
            background-repeat: no-repeat;
        }
        &--tw {
            background-color: #1da1f2;
            background-image: url('/images/tw-modal.svg');
            background-position: 1.5rem 1.2rem;
        }
        &--fb {
            background-color: #3C5A99;
            background-image: url('/images/fb-login.svg');
            background-position: 0 -0.2rem;
            background-size: 5rem;
        }
        &--gg {
            background-color: #DD5144;
            background-image: url('/images/google.svg');
            background-position: 1.4rem 1.1rem;
        }
    }

    &__wrap {
        width: 100%;
    }

    &__login {
        width: 15rem;
        background-color: $accentColor;
        color: #fff;
        height: 4.5rem;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 4.5rem;
        -webkit-appearance: none;
        border-radius: 0.3rem;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    &__register {
        width: 100%;
        background-color: $accentColor;
        color: #fff;
        height: 4.5rem;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 4.5rem;
        -webkit-appearance: none;
        border-radius: .3rem;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

    &__follow {
        width: 12rem;
        background: $accentColor;
        color: #fff;
        border-radius: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        border: 1px solid $accentColor;
        height: 4.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
        transition: all 0.3s;
        outline: none;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
        }
    }

    &__likeWrap {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__like {
        appearance: none;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        &--count {
            position: relative;
        }
    }

    &__sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #fff;
        border: 1px solid $accentColor;
        border-radius: .3rem;
        color: $accentColor;
        width: 100%;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
        letter-spacing: 0.3rem;
        transition: all 0.3s;
        &:visited{
            color: $accentColor;
        }
        &::after {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            border: 0px;
            border-top: solid 1px #fff;
            border-right: solid 1px #fff;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 2rem;
            margin-top: -4px;
        }
        &:hover {
            background: #fff;
            color: $accentColor;
            &::after {
                border-top: solid 1px $accentColor;
                border-right: solid 1px $accentColor;
            }
        }
    }
}

.follow-state {
    background: #fff;
    color: $accentColor;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.c-ql__imgInsert__label{
    display: inline-block;
    height: 100%;
}
.c-ql__imgInsert__input{
    display: none;
}
.c-imgInsert__img{
    display: inline-block;
    width: 28px;
    height: 24px;
    padding: 3px 5px;
}
.ql-formats.ql-formats--imgInsert{
    height: 24px;
}
