// =========================================
// Foundation
// =========================================

.c-category {
	&__list {
		line-height: 2;
		list-style: none;
		padding: 0;
	}

	&__title {
		font-size: 1.6rem;
	}

	&__parents {
        font-size: 1.4rem;
        a{
        color: $accentColor;
        }
	}
}
