@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "../../foundation/_mixin.scss";
@import "../../foundation/_base.scss";

.c-category {
	&__list {
		line-height: 2;
		list-style: none;
		padding: 0;
	}

	&__title {
		font-size: 1.6rem;
	}

	&__parents {
		font-size: 1.4rem;
	}
}
