// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$baseColor: #333 !default;
$blurColor: #999 !default;
$mainColor: #012b69 !default;
$accentColor: #a73b65 !default;
$linkColor:  #000000 !default;
$baseBg: #fff !default;
$subBg:#f8f8f8 !default;
