// =========================================
// Project Form
// =========================================

.pagination{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    list-style: none;
    a:hover{
        text-decoration: underline;
    }
}

.page-item{
    margin-right: 3rem;

}
