@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "../../foundation/_mixin.scss";
@import "../../foundation/_base.scss";

.p-contents_detail--date{
    text-align: right;
}

.p-contents_detail__under{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1rem 0;
    border-top: 1px solid #707070;
}

.p-contents_detail__shareItem{
    list-style: none;
    padding-right: 1.5rem;
}
.p-contents_detail__userContainer{
    display: flex;
    justify-content: space-between;
    @include mq(md){
        flex-wrap: wrap;
    }
}
.p-contents_detail__userWrap{
    display: flex;
    width: 100%;
}
.p-contents_detail__userImg{
    img{
        width: 14rem;
    }
}

.p-contents_detail__userInfo{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.p-contents_detail__snsList{
    list-style: none;
    position: relative;
    top: 4rem;
}

.p-contents_detail__snsItem{
    padding-left: 0;
}

.p-contents_detail--button{
    height: 14rem;
    line-height: 14rem;
    padding-right: 5rem;
    @include mq(md){
        height: auto;
        line-height: normal;
    }
}
