// =========================================
// Project Form
// =========================================

.p-form {
    &__container{
        margin: 0 auto 8rem;
        background: #fff;
        max-width: 60rem;
    }
    &__inner{
        max-width: 300px;
        margin: 0 auto;
        padding: 0 1rem;
        padding: 0 1rem 4rem;
        font-size: 1.6rem;
    }
    &__image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-size: auto;
        width: 8rem;
        height: 8rem;
        background-color: #fff;
        border: 1px solid #707070;
        border-radius: 50%;
        margin-bottom: 4rem;
        position: relative;
        &.hasImg{
            border-radius: 0;
            border: none;
            background-color: none;
            background-size: cover;
            max-width: 68rem;
            max-height: 68rem;
            width: 91.4vw;
            height: 91.4vw;
        }
        &--user{
            &.hasImg{
                width: 30rem;
                height: 30rem;
                border-radius: 50%;
            }
        }
        &__area{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        &__input{
            display: none;
            width: 100%;
            height: 100%;
        }
        &__deleteBtn{
            width: 5rem;
            height: 5rem;
            display: none;
            justify-content: center;
            align-items: center;
            background: #ccc;
            border-radius: 50%;
            position: absolute;
            top: -2rem;
            right: -2rem;
            &.hasImg{
                display: flex;
            }
            img{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &__modal{
            width: 37.5rem;
            height: 45rem;
            position: fixed;
            display: none;
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            overflow: hidden;
            border: 1px solid #ccc;
            background: #fff;
            @include mq(md) {
                width: 30rem;
                height: 37.5rem;
            }
            &__inner{
                width: 37.5rem;
                height: 37.5rem;
                @include mq(md) {
                width: 30rem;
                height: 30rem;
            }
            }
            &__btns{
                height: 7.5rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            &__btn{
                width: 12rem;
                height: 4rem;
                background: #fff;
                border-radius: 5px;
                margin-right: 1rem;
                font-size: 1.6rem;
                border: none;
                cursor: pointer;
                &.ok{
                    background: $accentColor;
                    color: #fff;
                    &:hover{
                        background:#802d4b;
                    }
                }
            }
        }
    }
    &__title {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 2rem;
        @include mq(md) {
            margin-bottom: 1rem;
        }
        textarea {
            width: 100%;
            border: none;
            padding: 1rem 1rem 1rem 0;
            font-size: 2.4rem;
            background: none;
        }
    }
    &__wrap{
    }
    &__tag{
        margin-bottom: 4rem;
        @include mq(md) {
            margin-bottom: 1rem;
        }
        vue-tags-input{
            border: none;
        }
    }
    &__textarea{
        margin-bottom: 2rem;
        textarea{
            height: 50vh;
            border: none;
            padding: 2rem;
        }
    }
    &__button{
        width: 20rem;
        padding: 1rem 3rem;
        border: 1px solid $accentColor;
        color: #fff;
        background: $accentColor;
        transition: all .3s;
        &:hover{
            cursor: pointer;
            background: #fff;
            color: $accentColor;
        }
    }
    &__label{
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }
    &__required{
        display: inline-block;
        background: $accentColor;
        color: #fff;
        font-size: 11px;
        border-radius: 3px;
        padding: 0 0.5rem;
        margin-left: 5px;
        line-height: 1.7;
        &--optional{
            background: #999;
            color: #fff;
        }
    }
    &__item{
        width: 100%;
        padding: .5rem;
        border: 1px solid #ccc;
        &--id{
            margin: 0 0 0 auto;
            box-sizing: border-box;
            width: 92%;
            display: inline-block;
        }
    }
    &__subtext{
        font-size: 1.2rem;
    }
    &__idWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__comment{
        min-height: 10rem;
        font-size: 1.6rem;
    }
    &__submit{
        cursor: pointer;
    }

}

#editor{
    width: 100%;

}
.cropper-view-box{
    outline-color: #ccc;
}