// =========================================
// Foundation
// =========================================

.p-top{
	&__news--titleWrap {
		display: flex;
		align-items: center;
		@include mq(sp-only) {
			flex-direction: column;
			align-items: initial;
		}
	}

	&__news--title {
		font-size: 3.8rem;
		margin: 0;
		@include mq(md) {
			font-size: 3.2rem;
			font-weight: normal;
		}
	}
	&__news--titleSub {
		font-size: 1.8rem;
		margin: 0;
		position: relative;
		top: 0.3rem;
		@include mq(md) {
			padding-left: 0;
		}
	}
	&__news--titleSub--step {
		padding-left: 2rem;
		@include mq(md) {
			padding-left: 0;
		}
	}
	&-news__card {
		display: flex;
		justify-content: center;
		width: 100%;
		@include mq(md) {
			flex-wrap: wrap;
		}
	}
	&__news--cardTitle {
		margin-bottom: 2rem;
	}

	&__news--item {
		width: 32rem;
		margin-right: 2rem;
		@include mq(md) {
			width: 45%;
			margin-bottom: 5rem;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__news--img {
		width: 100%;
		margin-bottom: 1rem;
		text-align: -webkit-center;
		img{
			width: 100%;
		}
	}
	&__news--text{
		margin-bottom: 1rem;
		height: 6.4rem;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	&__news--user {
		display: flex;
		align-content: space-around;
	}
	&__news--userImg {
		margin: 0;
		width: 5rem;
		img {
			border-radius: 100%;
		}
	}
	&__news--userTxt {
        padding-left: 2rem;
        line-height: 2rem;
        flex-direction: column;
        font-size: 1.2rem;
        a{
            color: $accentColor;
        }
	}
	&__news--useName {
		margin: 0;
		margin-bottom: 0.5rem;
	}
	&__news--date {
		margin: 0;
		color: #707070;

    }
    &__news--cardTitle{
        font-size: 2rem;
        color: $baseColor;
    }

	//===================
	//Mmebers section
	//==================
	&__members {
		@include mq(md) {
			margin-bottom: 8rem;
        }
        &--img {
            width: 100%;
            margin: 0;
            img {
                border-radius: 100%;
            }
        }
        &__useName {
            text-align: center;
        }
	}
	&__news--item {
		img {
			left: 0;
			position: relative;
		}
	}

	//============================
	//Step section
	//============================
	&__step {
		width: 100%;
		height: 65rem;
		background: #efefef;
		padding: 0 2rem 4rem;
		margin-bottom: 14rem;
		text-align: center;
		@include mq(md) {
			height: auto;
			display: flex;
  			flex-direction: column;
		}
		@include mq(lg) {
			margin-bottom: 0;
		}
	}
	&__step__inner{
		display: inline-block;
		margin: 0 auto 2rem;
		width: 100%;
		@include mq(md) {
  			width: auto;
		}	
	} 
	&-step__card {
		display: flex;
		justify-content: center;
		width: 100%;
		@include mq(md) {
			display: block;
		}
	}
	&__step--item {
		width: 24rem;
		@include mq(md) {
			width: 100%;
			margin-bottom: 3rem;
			display: flex;
			align-items: center;
		}
	}
	&__step--imgWrap {
		margin-bottom: 3.5rem;
		@include mq(md) {
			margin-bottom: 0;
			position: relative;
		}
	}
	&__step--img {
		width: 100%;
		img {
			max-width: 100%;
			@include mq(md) {
				width: 30vw;
			}
		}
	}
	&__step--text {
		text-align: center;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@include mq(md) {
			text-align: left;
			font-size: 1.6rem;
			padding-left: 3vw;
			margin: 0;
			font-weight: bold;
		}
	}
	&__step--titleWrap {
		display: flex;
		align-items: center;
		padding-top: 7rem;
		margin-bottom: 4rem;
		@include mq(md) {
			align-items: flex-start;
			padding-top: 4rem;
			padding-bottom: 5rem;
			margin-bottom: 0;
			flex-direction: column;
		}
	}
	&__figure--number {
		font-size: 4.2rem;
		font-weight: bold;
		position: absolute;
		z-index: 2;
		@include mq(md) {
			@include fz_vw(32);
			top: 3vw;
		}
	}

	&__step--btn {
		position: relative;
		margin-bottom: 3rem;
		width: 30rem;
		margin: 0 auto;
		  @include mq(md) {
			width: 100%;
			max-width: 30rem;
		}
	}
	//==================================
	// About Section
	//==================================
	&__about {
		background: #fff;
		margin: 0 auto 6rem;
		padding: 7rem 2rem;
		margin-bottom: 8rem;
		@include mq(md) {
			padding: 0 2rem;
		}
		img {
			margin-bottom: 2rem;
		}
	}

	&__about--item {
		width: 28rem;
		text-align: center;
		margin-right: 3rem;
		&:last-child {
			margin-right: 0;
		}
		@include mq(md) {
			width: 100%;
			margin-bottom: 3rem;
		}
	}
	&__about--titleWrap {
		text-align: center;
		margin: 4rem 0;
	}
	&__about--img {
		width: 100%;
		margin-bottom: 3rem;
		text-align: center;
		img {
			margin: 0 auto;
		}
	}

	&__figure--text {
		font-size: 3rem;
		text-align: center;
		margin: 0;
		position: relative;
		top: 3rem;
	}
	&__about--textTop {
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	&__about--textLeft {
		text-align: left;
		font-size: 1.4rem;
		letter-spacing: 0.2rem;
		@include mq(md) {
			text-align: center;
		}
	}

	//==================================
	// Start Section
	//==================================
	&__start{
		display: flex;
		justify-content: center;
		padding: 0 2rem;
	}
	//============
	// 矢印　▶︎
	//============
	&__arrow {
		margin: 0 3rem;
		display: flex;
		align-items: center;
		@include mq(md) {
			display: none;
		}
	}
}
