@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "../../foundation/_mixin.scss";
@import "../../foundation/_base.scss";

.p-register {
	&__formTxt {
		text-align: left;
		margin: 0;
	}
	&__radioWrap {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			color: #aaaaaa;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__radionItem {
		position: relative;
		left: 1rem;
	}

	&--border {
		border-bottom: 1px solid #aaaaaa;
	}

	&__snsTtile {
		font-size: 1.6rem;
		font-weight: bold;
	}

	&__loginLink {
		a {
			color: #aaaaaa;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
