// =========================================
// Project
// =========================================

.p-tab{
    &__wrap{
        list-style: none;
        display: flex;
        margin-bottom: 4rem;
        padding: 0;

    }
    &__item{
        border: 1px solid $baseColor;
        &:not(:last-child){
            border-right: none;
        }
    }
    &__link{
        display: block;
        width: 12rem;
        padding: 1rem ;
        text-align: center;
        font-size: 1.4rem;
        color: $baseColor;
    }
    
}
.tab-active{
    color: #fff;
    background:$baseColor;
    &:visited{
        color: #fff;
    }
}
