@charset "utf-8";

// =========================================
// Project
// =========================================
@import "../../foundation/_mixin.scss";
@import "../../foundation/_base.scss";

.p-tab{
    &__wrap{
        list-style: none;
        display: flex;
        margin-bottom: 2rem;
        padding: 0;

    }
    &__link{
        display: block;
        width: 15rem;
        padding: 1rem ;
        text-align: center;
        font-size: 1.4rem;
        border: 1px solid $baseColor;
        color: $baseColor;

    }
}
.tab-active{
    color: #fff;
    background:$baseColor;
}
