// =========================================
// Project
// =========================================

.p-user {
	&__news--text {
		text-align: center;
	}

	&__news--titleWrap {
		display: flex;
		align-items: center;
	}

	&__news--title {
		font-size: 3rem;
		margin: 0;
		@include mq(md) {
			font-size: 3.2rem;
			font-weight: normal;
		}
	}
	&__news--cardTitle {
		margin-bottom: 2rem;
		font-weight: bold;
		font-size: 1.6rem;
	}
	&__news--img {
		width: 100%;
		margin: 0;
		margin-bottom: 2rem;
		text-align: -webkit-center;
		img {
			border-radius: 100%;
		}
	}
	&__tab {
        margin-bottom: 4rem;
		&--list {
			list-style: none;
			display: flex;
            width: 100%;
            padding: 0;
        }
        &--item{
            text-align: center;
            width: 20%;
            padding:1rem 2rem ;
            border: 1px solid $blurColor;
            border-left: none;
            &:first-child{
                border-left:1px solid $blurColor ;

            }

        }
	}
}

.is-active{
    background: $baseColor;
    color: #fff;
}
