// =========================================
// Project
// =========================================

.p-user_detail {
	&__userContainer {
        display: flex;
        width: 74rem;
        margin-right: 1rem;
        margin-bottom: 8rem;
        position: relative;
		@include mq(md) {
			flex-wrap: wrap;
		}
    }
    &__wrap{
        margin-left: 4rem;
        font-size: 1.2rem;
        ul li{
            list-style: none;
        }
    }
    &__name{
        font-weight: bold;
        font-size: 1.6rem;
        margin-right: 2rem;
    }
    &__nameWrap{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
	&__userImg {
		img {
            width: 13rem;
            height: 13rem;
            border-radius: 100%;
		}
	}
	&__snsList {
		list-style: none;
        position: relative;
        margin: 0;
        margin-right: 2rem;
	}
	&__snsItem {
		padding-left: 0;
    }
    &__userTitle{
        margin: 0 0 1rem 0;
        font-size: 1.4rem;
    }
    &__comment{
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    &__tab{
        width: 74rem;
        margin-right: 1rem;
        margin-bottom: 4rem;
    }
    &__list{
        list-style: none;
        display: flex;
        width: 100%;
        padding: 0;
    }
    &__item{
        width: calc(100%/3);
        text-align: center;
        padding: 1rem 0;
        border: 1px solid $blurColor;
    }
    &__topicWrap{
        font-size: 1.4rem;
        margin-bottom: 1rem;
        a{
            color: $accentColor;

        }
    }
    &__topicNum{
        margin-right: 1rem;
    }
    &__followNum{
        margin-right: 1rem;
    }
    &__url{
        span{
            background: #fff;
            padding: 3px 12px;
            border-radius: 10px
        }
        a{
            color: $accentColor;
        }
    }
    &__edit{
        padding: .3rem 1rem;
        background: #fff;
        border:1px solid $baseColor;
        color:$baseColor;
        border-radius: .5rem;
    }
    &__follow{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
