// =========================================
// Foundation
// =========================================

.l-footer {
	width: 100%;
	height: 12rem;
	background: #555555;
	text-align: center;
	margin-top: auto;
	a {
		color: black;
		&:hover {
			text-decoration: underline;
		}
	}
	@include mq(lg) {
		padding: 0 5vw;
	}
	@include mq(md) {
		height: 17rem;
	}
	&__container {
		width: 100%;
		height: 12rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mq(md) {
			display: block;
		}
	}
	&__ListLeft {
		display: flex;
		@include mq(md) {
			justify-content: space-evenly;
		}
	}
	&__listRight {
		display: flex;
	}
	&__snsList {
		display: flex;
		align-items: center;
        padding-left: 0;
        list-style: none;
		@include mq(md) {
			padding-top: 1rem;
		}
	}
	&__snsItem {
        padding-left: 1.5rem;
        transition: all .3s;
        &:hover{
            opacity: 0.6;
        }
	}

	&__title {
		color: #fff;
		font-size: 3.2rem;
		@include mq(md) {
			margin-top: 2rem;
			margin-bottom: 0.5rem;
		}
	}
	&__listUp {
		display: flex;
		align-items: flex-end;
		a {
			color: #fff;
			font-size: 1.2rem;
		}
	}
	&__listItem {
		padding: 0 0.5rem;
		line-height: 1.2rem;
		&:nth-child(-n + 2) {
			border-right: 1px solid #fff;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	&__text--under {
		width: 100rem;
		text-align: right;
		color: #fff;
		position: relative;
		top: -5rem;
		font-size: 1.2rem;
		margin: 0 auto;
		@include mq(lg) {
			width: 100%;
		}
		@include mq(md) {
			position: static;
			text-align: center;
		}
	}
}
