// =========================================
// Foundation
// =========================================

.l-header {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    @include mq(lg) {
        width: 100%;
        padding: 0 5vw;
    }
    @include mq(md) {
    }
    &__title {
        font-size: 4rem;
        line-height: 1;
        a {
            color: #555555;
        }
        @include mq(sp-only) {
            font-size: 10.6vw;
        }
    }
    &__menuWrap {
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        font-size: 1.4rem;
        @include mq(md) {
            height: 100%;
        }
    }
    &__item {
        height: 100%;
        text-align: center;
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        &:first-child{
            margin-right: 4rem;
            @include mq(sp-only) {
            margin-right: 2rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &--right {
            border: 1px solid $accentColor;
            border-radius: 2.5rem;
            &:hover {
                background-color: $accentColor;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        &--post {
            width: 10rem;
            display: flex;
            background: $accentColor;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            border-radius: .3rem;
            height: 4rem;
            margin-right: 1rem;
            text-align:center;
            font-size: 1.6rem;
            transition: all .3s;
            &:hover{
                background: #802d4b;
            }
            @include mq(md) {
                display: none;
            }
            img {
                width: 2rem;
                height:2rem;
                padding-right: .5rem;
            }
        }
        &--postText {
            color: #fff;
        }
        &--img {
            width: 5rem;
            height: 5rem;
            @include mq(md) {
                width: 3rem;
                height: 3rem;
            }
        }
        &--register{
            padding: 1rem 2.5rem;
            border: 1px solid $accentColor;
            border-radius: 3rem;
            color: $accentColor;
            transition: all .3s;
            @include mq(sp-only) {
                font-size: 1.2rem;
                padding: .8rem 2rem;
            }
            &:visited{
                color: $accentColor;
            }
            &:hover{
                background: $accentColor;
                color: #fff
            }
        }
    }
    &__img{
        img{
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
        }
    }
    &__dropdown {
        &--menu {
            border-radius: 5px;
            width: 22rem;
            display: none;
            position: absolute;
            right: 0;
            list-style: none;
            background: #fff;
            margin-top: 2rem;
            z-index: 990;
            @include mq(smd) {
                position: fixed;
                left: 0;
                width: auto;

            }
        }
        &--item{
            border-top: 1px solid #eee;

            @include mq(smd) {
                padding: 1rem 0;
            }
            &:last-child{
                border-bottom: 1px solid #eee;
            }
        }
        &--bg{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
        }
        &--postText{
            color: #444;
            padding-left: 1rem;
        }
    }
    &__button {
        padding: 1rem 2rem;
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #444;
        text-align: left;
        font-size: 1.4rem;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        translate: all 0.3s;
        @include mq(smd) {
            padding: 1.2rem 2rem;
        }
        &:hover {
            text-decoration: underline;
            translate: all 0.3s;
        }
        &:visited{
            color: #444;
        }
        &--post{
            display: none;
            @include mq(md) {
                display: flex;
            }
            img{
                @include mq(md) {
                    width: 2rem;
                }

            }
        }
    }
    &__userImg{
        border-radius: 100%;
    }
}
