// =========================================
// Foundation
// =========================================

.l-container {
	width: 1000px;
	margin: 0 auto;
	@include mq(lg) {
		width: 100%;
		padding: 0 1rem;
	}
}

.l-2col {
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    max-width: 100rem;
	@include mq(lg) {
		display: block;
		justify-content: center;
	}
	&--main {
		width: 68rem;
		margin-right: 2rem;
		@include mq(lg) {
			margin: 0 auto;
		}
		@include mq(md) {
			width: 100%;
		}
	}
}

.l-top {
	&__herobaner {
		display: flex;
		justify-content: center;
	}
	&__article {
		width: 650px;
	}
}

.red-text{
    background-image: url("/images/like-icon.svg");
}

.l-article_post{
	width: 68rem;
	&__sidebar{
		padding: 9rem 0;
		height: 100%;
	}
}