@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "foundation/_mixin.scss";
@import "foundation/_base.scss";

.l-container {
	width: 1000px;
	margin: 0 auto;
	@include mq(lg) {
		width: 100%;
		padding: 0 1rem;
	}
}

.l-2col {
	// width: 100rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	@include mq(lg) {
		display: block;
		justify-content: center;
	}
	&--main {
		width: 73rem;
		margin-right: 2rem;
		@include mq(lg) {
			margin: 0 auto;
		}
		@include mq(md) {
			width: 100%;
		}
	}
}

.l-top {
	&__herobaner {
		display: flex;
		justify-content: center;
	}
	&__article {
		width: 650px;
	}
}

#app{
    display: flex;
	justify-content: center;
	margin: 0 auto;
	@include mq(lg) {
		display: block;
		justify-content: center;
	}
	&--main {
		width: 73rem;
		margin-right: 2rem;
		@include mq(lg) {
			margin: 0 auto;
		}
		@include mq(md) {
			width: 100%;
		}
	}

}

.red-text{
    background: red;
}
