@charset "utf-8";

// =========================================
// Foundation
// =========================================
@import "foundation/_mixin.scss";
@import "foundation/_base.scss";

.l-container{
    width: 1000px;
    margin: 0 auto;
    @include mq(lg){
        width: 100%;
        padding: 0 1rem;
    }
}

.l-top__herobaner{
    display: flex;
    justify-content: center;
}

.l-2col{
    display: flex;
}

.l-top__article{
    width: 650px;
}
