// =========================================
// Foundation
// =========================================

.l-sidebar{
    width: 30rem;
    padding: 3rem 0 0 6rem;
    @include mq(lg){
        width: 31rem;
        margin: 0 auto;
    }
}
