// =========================================
// Foundation
// =========================================

.l-sidebar{
    width: 25rem;
    @include mq(lg){
        width: 31rem;
        margin: 0 auto;
    }
}
