// =========================================
// Foundation
// =========================================

.l-sidebar{
    width: 30rem;
    padding: 3rem 0 0 6rem;
    @include mq(md) {
        padding: 0;
	}
    @include mq(lg){
        margin: 0 auto;
    }
}
